* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #0020f4 0% 0% no-repeat padding-box;
  top: 0px;
  left: 0px;
  width: 1345px;
  height: 250px;
}
.main-img {
  width: 900px;
  height: 500px;
  margin: auto;
  display: block;
  padding: 10px;
}

.logo {
  width: 150px;
  vertical-align: top;
  padding-left: 50px;
}

ul {
  list-style-type: none;
}
.nav,
.nav ul,
.navbar-ul li {
  display: inline;
}
nav {
  margin: 100px;
  vertical-align: top;
}
.navbar-ul li {
  margin-right: 20px;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 230px;
}

body {
  background-color: rgb(218, 231, 231);
}
.four-photo {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.active {
}

.block {
  margin: 10px;
  background-color: #0020f4;
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  border-radius: 28px;
  padding: 15px;
  margin-left: 550px;
  margin-bottom: 60px;
}

.block:hover {
  background-color: #ddd;
  color: rgb(0, 0, 0);
}
footer {
  background: #0020f4 0% 0% no-repeat padding-box;
  color: antiquewhite;
  top: 2155px;
  left: 0px;
  width: 1345px;
  height: 600px;
}
.container {
  width: 20%;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-right: 30px;
}
.about {
  top: 1412px;
  left: 485px;
  width: 851px;
  height: 281px;
  margin-bottom: 270px;
  margin-left: 250px;
  font-family: "BPG Arial", sans-serif;
}
h2 {
  margin-bottom: 20px;
  font-family: "BPG Arial", sans-serif;
}
.second-p {
  font-family: "BPG Arial", sans-serif;
  margin-top: 10px;
  margin-left: 15px;
}
.second-p-1 {
  font-family: "BPG Arial", sans-serif;
  width: 400px;
}
